@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  outline: none;
}
.container {
  margin: 10vh auto;
  max-width: 1000px;
  position: relative;
}

.amount {
  width: 383px;
  background: #f2f2f2;
  border-radius: 12px;
  padding: 33px;
  position: absolute;
  right: 0;
  top: 110px;
}
.item img {
  width: 134.21px;
  height: 136.27px;
  border-radius: 13px;
  display: inline-block;
  margin-right: 20px;
}
.item {
  display: flex;
}
.item-name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 8.82px;
  color: #4e5150;
}
span.cost {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;

  color: #f2994a;
}

span.discount {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-decoration-line: line-through;
  color: #4e5150;
  padding-left: 4px;
}
div.qty {
  width: 134.25px;
  height: 52px;
  left: 1002.17px;
  top: 285.27px;
  border: 1px solid #828282;
  box-sizing: border-box;
  border-radius: 12px;
  margin-top: 33.5px;
  padding: 14px 10px;
}
.qty i {
  position: static;
  color: #828282;
  background: #e0e0e0;
  padding: 5px;
  transform: scale(1.1);
  border-radius: 4px;
  cursor: pointer;
}
.qty-num {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.qty-num input {
  height: 15px;
  padding: 0;
  margin: 0;
  width: 30px;
  border: none;
  border-radius: 0;
  text-align: center;
  background: #f2f2f2;
}
.item {
  margin-bottom: 33px;
}
.payment-cost {
  margin-top: 90px;
}
.payment-cost div {
  padding: 9px 0;
  display: flex;
  justify-content: space-between;
}
.payment-cost div span {
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}
.shipping {
  border-top: 1px solid #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
}

.form-container,
.form {
  max-width: 465px;
  margin: 58px 0;
}
.form div {
  position: relative;
}

h3 {
  margin-bottom: 10px;
}
input,
select {
  padding: 18px 18px 18px 52px;
  width: 100%;
  border: 1px solid #828282;
  border-radius: 12px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #828282;
  margin-bottom: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

i {
  position: absolute;
  top: 20px;
  left: 14px;
  color: #828282;
  transform: scale(1.3);
}

label {
  display: inline-block;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 12px;
  padding-bottom: 5px;
}
h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
}

.inline {
  display: flex;
  justify-content: space-between;
}

div.country,
div.postal {
  width: 217px;
}
.checkbox {
  display: flex;
  align-items: center;
  position: relative;
}
label.check {
  position: absolute;
  top: 3px;
  left: 30px;
}
input[type="checkbox"] {
  width: 21px;
  height: 21px;
  margin-bottom: 0;
}

#save-info {
  width: 21px;
}
.form-container {
  position: relative;
  height: 760px;
}

#continue-btn {
  position: absolute;
  width: 166px;
  height: 54px;
  right: 5px;
  bottom: 0;
  background: #f2994a;
  border-radius: 12px;
  border: none;
  color: white;
  font-weight: bolder;
  font-size: 16px;
  cursor: pointer;
  transition: 0.12s ease-in;
}
#continue-btn:hover {
  transform: scale(1.02);
}

@media (max-width: 1027px) {
  .container {
    margin-left: 12px;
    margin-right: 12px;
  }
}

@media (max-width: 890px) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
  .amount {
    position: static;
    margin-top: 20px;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 375px;
  }
  div.country {
    margin-right: 10px;
  }
  #continue-btn {
    bottom: -50px;
  }
  .amount {
    width: 444px;
  }
}
input:focus,
select:focus {
  color: #333333;
}

@media (max-width: 470px) {
  input,
  select {
    font-size: 12px;
    padding: 12px 0 12px 39px;
  }
  .amount,
  .form-container {
    width: 350px;
  }
  i {
    top: 15px;
    transform: none;
  }
  #continue-btn {
    bottom: -10px;
  }
  .item-name {
    font-size: 12px;
  }
  span.cost {
    font-size: 14px;
  }
  span.discount {
    font-size: 10px;
  }
  .amount {
    padding: 22px;
  }
  .payment-cost div span {
    font-size: 14px;
    line-height: 17px;
  }
}
